* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.homeBanner {
  background-color: #003580;
  color: white;
}

.homeDateBar {
  background: linear-gradient(to bottom, #003580 50%, transparent 50%);
}

.sticky {
  position: sticky;
  top: 55px;
  z-index: 1;
}

.rdrDefinedRangesWrapper {
  display: none !important;
}

.dropdown-toggle::after {
  content: none !important;
}

.dropdown .dropdown-menu {
  -webkit-transition: all 0.32s;
  -moz-transition: all 0.32s;
  -ms-transition: all 0.32s;
  -o-transition: all 0.32s;
  transition: all 0.32s;

  display: block;
  overflow: hidden;
  opacity: 0;
  transform: translateX(0) scaleY(0);
  transform-origin: top;
}

.dropdown-menu.show {
  opacity: 1;
  transform: translateX(0) scaleY(1);
  padding: 0;
}

.head-text {
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}

.head-text:hover {
  filter: brightness(80%);
}

.text-on-image {
  position: absolute;
  left: 5%;
  top: 5%;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 1.78em;
  line-height: 1;
  pointer-events: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 767.98px) {
  .disable-card-header {
      display: none;
  }
}

.hotel-head-text {
  position: relative;
}

.hotel-text-on-image {
  position: absolute;
  left: 5%;
  top: 5%;
  color: white;
  text-shadow: 1px 1px 4px black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 1.78em;
  line-height: 1;
  pointer-events: none;
  margin: 0;
  padding: 0;
}

.linkHotel {
  background-color: white;
  color: #0097AF;
  text-decoration: none;
}

.linkHotel:hover {
  text-decoration: underline;
}

.linkFooter {
  background-color: #f8f9fa;
  font-size: 18px;
  text-decoration: none;
}

.linkFooter:hover {
  text-decoration: underline;
}

.buttonClipboard {
  background-color: white;
  border: none;
  color: #0099cc;
}

.buttonClipboard:hover {
  color: black;
}

.buttonLink {
  background-color: #F7F7F7;
  border: none;
  color: #0097AF;
}

.buttonLink:hover {
  text-decoration: underline;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767.98px) { 
  .disable-float {
      float: left;
  }
}

@media (min-width: 767.98px) { 
  .disable-float {
      float: right;
  }
}

@media (max-width: 575.98px) {
  .disableIcon {
      display: none;
  }
}

@media (max-width: 475px) {
  .fontSM {
      font-size: 12px;
  }
}

.roomPicker {
  height: 145px;
  width: 250px;
}

.buttonRoomPicker {
  height: 40px;
  width: 40px;
}

.buttonRoomPickerText {
  pointer-events: none;
}