* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.homeBanner {
  background-color: #003580;
  color: white;
}

.homeDateBar {
  background: linear-gradient(to bottom, #003580 50%, transparent 50%);
}

.rdrDefinedRangesWrapper {
  display: none !important;
}

.dropdown-toggle::after {
  content: none !important;
}

.dropdown .dropdown-menu {
  -webkit-transition: all 0.32s;
  -moz-transition: all 0.32s;
  -ms-transition: all 0.32s;
  -o-transition: all 0.32s;
  transition: all 0.32s;

  display: block;
  overflow: hidden;
  opacity: 0;
  transform: translateX(0) scaleY(0);
  transform-origin: top;
}

.dropdown-menu.show {
  opacity: 1;
  transform: translateX(0) scaleY(1);
  padding: 0;
}

.head-text {
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}

.head-text:hover {
  filter: brightness(80%);
}

.text-on-image {
  position: absolute;
  left: 5%;
  top: 5%;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 1.78em;
  line-height: 1;
  pointer-events: none;
  margin: 0;
  padding: 0;
}
